*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*HOME------INDEX*/

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

/*BOTON DE HOME*/
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.color-acento{ color:blueviolet; }

/*ENCABEZADOOO----------*/
header{
    background-color: rgb(245,245,245);
}
/*logoooo*/
header .logo{
    margin: 0;
    padding: 12px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .conteiner{
    display: flex;
    flex-direction: column;
}

.barra a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.barra a:hover{
    color: blueviolet;
}

/*IMAGEN DE PORTADA DEL HOME*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.button a{
    color: #fff;
}
#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 100px 12px;
}

.carta p{
    padding-top: 80px;
}

footer{
    background-color: rgb(230,230,230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("../media/quienesomos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    /*CARTELES DE PORQUE ELEGIRNOS------CAMBIO DE DIMENSION Y POSICIÓN DE IMG*/
}

/*formato de la seccion de home y del maps con el texto en ubicacion*/
.secciones{
    background-color: rgb(40,38,38);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0, .5);
}
.col{
    /*maps*/
    width: 3000px;
    border-radius: 30px;
    border: dashed 3px white;
}
.secciones h2{
    margin: 0;
    color: aqua;
    text-align: center;
    padding: 10px;
}
.secciones p{
    color: aliceblue;
    margin-right: 15px;
    text-align: center;
}

/*--------GALERIAA-------*/
h3{
    text-align: center;
    color: #31384A;
    padding: 20px;
}

/*IMAGENES DE LA GALERIA*/
.contenidogaleria img{
    width: 200px;
    height: 200px;
    border-radius: 0%;
    object-fit: cover;
}

.contenidogaleria{
    display: flex;
    margin: 5px;
    gap: 1rem;
    grid-auto-flow: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.galeria{
    background-color: #282c34;
    font-family: sans-serif;
    }
  
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  
  .grid-container {
    padding: 20px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;

    grid-auto-flow: dense;
  }
  
  @media (min-width: 600px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
  }
/*-------fINDEGALERIA------*/  


/*-------------UBICACION--------*/
#ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/perros.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#ubicacion h1{
    color: white;
}

#ubicacion button{
    font-size: 1.75em;
}



@media (min-width: 850px){

    #ubicacion-maps .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("../media/quienesomos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }
}

/*-------------CONTACTO--------*/
.body-contact{
	height: 100vh;
	width: 100%;
}

.contenedor-contacto{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contenedor-contacto:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../media/contacto.jpeg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("../media/contacto.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

/*NOSOTROSSS---------------*/
#NOSOTROS{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    )
    ,url("../media/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#NOSOTROS h1{
    color: white;
}

.parrafo{
    z-index: 1;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
}
.parrafo img{
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}